*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


/**Boot CSS**/

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin:0 auto;

}
img{
    width: 80%;
    max-width: 400px;
}

img#logo{
    padding-top:12px ;

}


.w33{
    width: 25%;
    padding: 0 10px;
}

.w50{
    padding:0 50px;
    width: 50%;
    text-align: center;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

.arr0{
    border-radius: 22px;
}

html, body {height:100%;}



/**Estilizacao do site**/



header{
    padding:10px 0;
    background: linear-gradient(to right,#00cffc,#0038d9);
    height:80px ;
}



.mobile{
    display: none;
}

nav.desktop ul{
    list-style-type: none;
}
nav.desktop li{
    font-size: 15px;
    padding:20px 25px;
    display: inline-block;
    text-transform: uppercase;
}

nav.desktop a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}

section.banner-principal{
    width: 100%;
    height: 600px;
    background-image: url('../images/bg-form.png');
    background-size: cover;
    position: relative;
}

section.banner-principal form{
    width: 90%;
    max-width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);

}

section.banner-principal form h2{
    color:white;
    font-weight: 300;
    font-size: 45px;
    text-align:center;
    padding-bottom: 20px ;

}


section.banner-principal form input[type=button]{
    width: 40%;
    height: 45px;
    background: #00b4d4;
    color: white;
    font-size: 20px;
    padding-left: 6px;
    margin-top:10px;
    cursor:pointer;
    font-size:20px;
    border:0;
    margin-left:30%;
    align-items: center;


}
section.sobre{
    padding:30px 0;
}
section.sobre h2{
    font-size: 30px;
    font-weight: 700;
    color: rgb(43, 43, 43);
}

section.sobre p{
    font-size: 16px;
    color:#444;
    margin-top:15px;

}

section.projetos {
    padding: 40px 0;
    background: #dfdfdf;
    text-align: center;
}

section.projetos h2{
    font-size: 30px;
    font-weight: 300;
    color: rgb(20, 20, 20);
    
}

.box-projetos{
    margin:10px 0;
    padding:0 30px;
    

}

.box-projetos h3{
    font-size: 40px;
    color:#0080e9;
}

.box-projetos h4{
    font-size: 20px;
    color:rgb(54, 54, 54)
    
}

.box-projetos p{
    padding:0 20px;
    font-size: 15px;
    color:rgb(59, 59, 59);
    margin-top:10px;

}

section.extras{
    background: #2663d3;
    padding-top: 40px;
}

.depoimentos-container{
    padding:0 50px;
    margin-bottom: 15px;
}
.redes-container{
   top: 50%;
}

section.extras .title{
    color:white;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 17px;
}

.depoimentos-single{
    padding: 20px 0;
    border-bottom: 1px solid #86a0d1;
}
p.depoimento-descricao{
    color:white;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 300;
    font-style: italic;
}

p.nome-autor{
    color:white;
    font-size: 20px;

}
.redes a{
    cursor: pointer;
    color: white;
    width: 15px;
    height: 15px;
    margin: 0 10px;

}
.redes a i{
    font-size: 30px;
}


.redes{
    text-decoration: none;
    padding:10px;
    color:white;
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: 300;
    
}

footer{
    background: #181818;
    padding: 10px 0;
    width:100%;

}

footer.fixed{
    position: fixed;
    bottom: 0;
}

footer p{
    color:rgb(163, 163, 163);
    font-size: 13px;
    font-weight: 500;
    text-align:  center;
}

.logorodape{
    display: block;
    position: relative;
    max-width: 130px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}


.error{
    margin:30px 0px; 
    background: #282828; 
    height: 100%;
    
    
}

.cat-img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-width: 700px;
    background-color:#282828;
}

.msgSucess{
    color:white;
    font-size: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 85%;
    max-width: 700px;
}


.contato-container{
    background-color: rgb(230, 230, 230);
    padding: 38px 0;
    text-align: center;
    
    
}

.contato-container input[type=text]{
    margin:8px 0;
    width: 95%;
    height: 40px;
    border:1px solid rgb(136, 136, 136);
    padding-left: 8px;
    font-size: 16px;
    max-width: 700px;
    color: rgb(37, 37, 37);

}

.contato-container input[type=number]{
    margin:8px 0;
    width: 95%;
    height: 40px;
    border:1px solid rgb(136, 136, 136);
    padding-left: 8px;
    font-size: 16px;
    max-width: 700px;
    color: rgb(37, 37, 37);

}

.contato-container select{
    margin:8px 0;
    width: 95%;
    height: 40px;
    border:1px solid rgb(136, 136, 136);
    padding-left: 8px;
    font-size: 16px;
    max-width: 700px;
    color: #5a5a5a;
    

}

.contato-container textarea{
    padding:8px 0 ;
    margin:8px 0;
    width: 95%;
    height: 120px;
    border:1px solid rgb(136, 136, 136);
    padding-left: 8px;
    font-size: 16px;
    max-width: 700px;
    resize: vertical;
    color: rgb(37, 37, 37);

}

.contato-container input[type=submit]{
    width: 95%;
    height: 40px;
    border:0;
    background: #00b4d4;
    color:white;
    font-size: 25px;
    cursor:pointer;
    max-width: 700px;

}

.contato-container form h2 {
    color: #444;
    text-align: center;
}

.justificado {
    text-align: left;
    margin-left: 100px;
    border-bottom: 4px solid #eeeeee;
}
.justificado h1{
    margin-bottom: 30px;
}

.justificado i{
    color: #0060e3;
    margin-right: 8px;
    margin-bottom: 2px;
}

.justificado p{
    margin-bottom:22px ;
}

.imgcontact{
    padding-top: 20px;
    padding-left: 25px ;
}

.imghide{
    display:none;
}

.resposta-container k1{
    background-color: red;
    text-align: center !important;
    align-items: center;
    color:red;
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 55px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}




@media screen and (max-width: 768px){
    img{
        float: none !important;
        display: block;
        margin:0 auto;
        
    }
    .w50{
        padding:20px;
        width:100%
    }

    .w33{
        padding:30px;
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    nav.desktop{
        display:none;
    }
    nav.mobile{
        display:block;
        margin-top:10px;
    }

    nav.botao-menu{
        font-size: 25px;
        color:white;
        
    }

    nav.mobile ul{
        top:80px;
        z-index: 2;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        display:none;
        
        
    }

    nav.mobile li{
        font-weight: 300;
        width:100%;
        display: block;
        background: white;
        border-bottom:1px solid #ccc;
        font-size: 17px;
        padding:10px 0;
    }

    nav.mobile li a{
        display: block;
        color: #0082ea;
        text-decoration: none;
        font-weight: bold;

    }
    .justificado{
        text-align: center;
        margin: auto;
    }
    .map{
       display: none;
    }
    .imgcontact{
        padding-left:0;
        
    }
    .imghide{
        display:block;
    }
    section.banner-principal form input[value]{
        font-size: 13px;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(165, 164, 164);
    opacity: 1; /* Firefox */
  }
  
nav #icon{
    font-size: 45px;
    color: white;
    padding-right: 10px;
    cursor:pointer;
 }  

nav #menu{
     font-weight: bold;
     
 }





